################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

src/.vs
src/.vs/xllproject1/v16
**/Debug/*
**/Release/*
**/x64/Debug/*
**/x64/Release/*
!**/*.xll



